//common CSS and Foundation Adjustments 07/03/2016

//variables used here
$peixe-helper-background-color: #333 !default;
$unresolve-time: 0.5s !default;

//printing
@media print {
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	.no-print { display: none; }
}

//consertando o maldito modulo de segurança do BB
html > object { display: none !important; }

//configurações para o body se ocultar para carregandos de scripts
body { transition: opacity $unresolve-time ease; 
	&.unresolved { opacity: 0; }
}

//consertando larguras de embed
iframe { max-width: 100%; }

//escondendo parágrafos
.hide-empty:empty { display: none; }
p:empty { display: none; }

//word wrapping in different breakpoints
.medium-nowrap {
	@include breakpoint(medium) { white-space: nowrap; }
}
.large-nowrap {
	@include breakpoint(large) { white-space: nowrap; }
}

//disable selection
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//helpers
.helper { font-size: rem-calc(14) !important; color: #fff !important; padding: rem-calc(10 15) !important; background: $peixe-helper-background-color; border-radius: rem-calc(5); position: relative; display: inline-block; cursor: help;
	em { font-style: normal; text-decoration: underline; }

	&.arrow-left:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
	&.arrow-left:after { border-color: rgba(51, 51, 51, 0); border-right-color: $peixe-helper-background-color; border-width: 6px; top: 50%; margin-top: -6px; }

	&.arrow-bottom:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
	&.arrow-bottom:after { border-color: rgba(51, 51, 51, 0); border-top-color: $peixe-helper-background-color; border-width: 6px;	left: 50%; margin-left: -6px; }

	&.arrow-right:after { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
	&.arrow-right:after { border-color: rgba(51, 51, 51, 0); border-left-color: $peixe-helper-background-color; border-width: 6px; top: 50%; margin-top: -6px; }

	&.arrow-top:after { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
	&.arrow-top:after { border-color: rgba(51, 51, 51, 0); border-bottom-color: $peixe-helper-background-color; border-width: 6px; left: 50%; margin-left: -6px; }

	*:last-child { margin-bottom: 0 !important; }
}

//some support classes
.hidden { display: none; }
.help { cursor: help; }
.pointer { cursor: pointer; }
.underline { text-decoration: underline; }
.inline-block { display: inline-block !important; }
.w-auto { width: auto !important; }
.h-auto { height: auto !important; }
.no-click > a { cursor: default; }
.relative { position: relative; }
.m-auto { margin-left: auto; margin-right: auto; }
.block { display: block; }
.uppercase { text-transform: uppercase; }
img.width-100 { width: 100% !important; height: auto !important; }

//peixe messages
.wrapper-message { font-family: $body-font-family, Sans-serif; max-height: rem-calc(100); position: fixed; top: 0; left: 0px; width: 100%; line-height: 1.2; overflow: hidden; font-size: rem-calc(19); z-index: 10000; opacity: 0.95; text-align: center; transition: all 1.5s ease;
	&.closed { max-height: 0; }
	&.no-transition { transition: none !important; }
	.success { background: $peixe-helper-background-color; color: #FFF; font-weight: 100; padding: 15px 25px; }
	.error { background: #CC0000; color: #FFF; font-weight: 100; padding: 15px 25px; }
}

//ajax helpers
.peixe-screen-freezer { position: fixed; z-index: 10000; width: 100%; height: 100%; background: transparent; display: none; }
.peixe-ajax-loader { position: fixed; z-index: 10001; background: $peixe-helper-background-color; padding: 5px 10px; color: #FFF; border-radius: 3px; top: 10px; left: 10px; box-shadow: 0px 1px 2px rgba(1,1,1,.2); text-shadow: 0px -1px 0px rgba(1,1,1,.99); display: none; }

/* dbo-helpers */
.dbo-cropper-edit-button { position: absolute; bottom: 10px; left: 10px; background: #fff; display: block; width: 50px; height: 50px; z-index: 50; font-size: 28px; text-align: center; line-height: 50px; border-radius: 1000px; box-shadow: 0px 1px 1px rgba(1,1,1,.3); color: #666; transition: all .15s ease;
	&:hover { color: #333; }
}

//media-manager styles
div[media-manager-element="image-container"] { max-width: 100%;
	&.float-left { float: left; margin-right: 1.5em; margin-bottom: 1em; }
	&.float-right { float: right; margin-left: 1.5em; margin-bottom: 1em; } 
	dl { display: inline-block; margin: 0; max-width: 100%;
		dt { margin: 0; max-width: 100%;
			img { display: block; max-width: 100%; }
		}
		dd { color: #999; font-style: italic; margin: 0; padding-top: 5px; font-size: 12px; }
	}
}

//honeypot for forms
.pot { position: absolute; width: rem-calc(1) !important; height: rem-calc(1) !important; overflow: hidden; opacity: .01; }

//color helpers
.color {
	@each $key, $value in $foundation-palette {
		&.#{$key} { color: #{$value}; }
	}
}

//forms
textarea { height: auto; resize: vertical; }
input[type="file"][peixe-ajax-file-upload] { position: absolute; width: 1px; height: 1px; opacity: 0; margin-top: 30px; margin-left: 15px; }

//font-size adjusmente on demand
@each $value in $breakpoint-classes {
	@if $value == small {
		@for $i from 9 through 30 {
			.font-#{$i} { font-size: rem-calc($i) !important; }
		}
	}
	@else {
		@include breakpoint($value) { 
			@for $i from 9 through 30 {
				.#{$value}-font-#{$i} { font-size: rem-calc($i) !important; }
			}
		}
	}
}

//float adjustments
@each $value in $breakpoint-classes {
	@if $value == small {
		.float-left { float: left; }
		.float-right { float: right; }
	}
	@else {
		@include breakpoint($value) { 
			.#{$value}-float-left { float: left; }
			.#{$value}-float-right { float: right; }
			.#{$value}-float-none { float: none; }
		}
	}
}

//fine-tune position adjustments
@each $value in $breakpoint-classes {
	@if $value == small {
		@for $i from 1 through 30 {
			.top-#{$i} { top: rem-calc($i); }
			.top-minus-#{$i} { top: rem-calc(-$i); }
		}
	}
	@else {
		@include breakpoint($value) { 
			@for $i from 1 through 30 {
				.#{$value}-top-#{$i} { top: rem-calc($i); }
				.#{$value}-top-minus-#{$i} { top: rem-calc(-$i); }
			}
		}
	}
}

//margin control
@each $value in $breakpoint-classes {
	@if $value == small {
		.no-margin { margin-bottom: 0 !important; }
		.margin-bottom { margin-bottom: $global-margin !important; }
		@for $i from 1 through 5 {
			.margin-bottom-#{$i*2}x { margin-bottom: $global-margin*$i*2 !important; }
		}
	}
	@else {
		@include breakpoint($value) { 
			.#{$value}-no-margin { margin-bottom: 0 !important; }
			.#{$value}-margin-bottom { margin-bottom: $global-margin !important; }
			@for $i from 1 through 5 {
				.#{$value}-margin-bottom-#{$i*2}x { margin-bottom: $global-margin*$i*2 !important; }
			}
		}
	}
}

.grid-bottom { margin-bottom: map-get($grid-column-gutter, small) !important; 
	@include breakpoint(medium) { margin-bottom: map-get($grid-column-gutter, medium) !important; }
}

//width control
@include breakpoint(medium) { 
	.width-80 { max-width: 80%; margin-left: auto; margin-right: auto; }
	.width-50 { max-width: 50%; margin-left: auto; margin-right: auto; }
}

/* ------------------ */
/* GOOGLE MAPS HELPER */
/* ------------------ */

.map-label { background: #fff; padding: .5rem 1rem; box-shadow: 1px 1px 1px rgba(1,1,1,.3); }

/* ------------------ */
/* FOUNDATION HELPERS */
/* ------------------ */

//rows
.row.full { max-width: 100%; }

//button icons
.button i[class^=fa-]:not(.single) { margin-right: .3em; }

//prevent FOUC (Flash of Unstyled Content) for .top-bar and .title-bar
.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display: none; 
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}
//prevents FOUC on slick slides
/*.slick-slide { display: none !important; }
.slick-initialized,
.slick-slide:first-child { display: block !important; }*/

/* ------------------ */
/* CONTENT TOOLS ---- */
/* ------------------ */

// Alignment styles for images, videos and iframes in editable regions

// Center (default)
[data-editable] image,
[data-editable] .ce-element--type-image,
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1em;
    max-width: 100%;
}

// Left align
[data-editable] image.align-left,
[data-editable] .ce-element--type-image.align-left,
[data-editable] img.align-left,
[data-editable] video.align-left {
    clear: initial;
    float: left;
    margin-right: 1em;
	margin-bottom: .3em;
}

// Right align
[data-editable] image.align-right,
[data-editable] .ce-element--type-image.align-right,
[data-editable] img.align-right,
[data-editable] video.align-right {
    clear: initial;
    float: right;
    margin-left: 1em;
	margin-bottom: .3em;
}

// Alignment styles for text in editable regions
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

[data-editable] p:empty { display: block; }

[data-editable] {
	.ce-element--type-video { margin-bottom: 1.5rem; }
	iframe { margin-bottom: 1.5rem; margin-left: auto; margin-right: auto; display: block; }
}

.ce-element {
	&.ce-element--over { background-color: rgba($primary-color, .15); 
		&.ce-element--type-image { outline: 4px solid rgba($primary-color, .15) !important; }
	}
	&.ce-element--focused { background-color: rgba($primary-color, .15); 
		&.ce-element--type-image { outline: 4px solid rgba($primary-color, .15) !important; }
	}
	&.ce-element--drop:before { background-color: rgba($primary-color, .4); }
}
.ct--highlight { outline: 4px solid rgba($primary-color, .15) !important; }
.ct-dialog__body {
	input[type="text"] { margin-bottom: 0; }
	.ct-video-dialog__input { display: inline-block; }
}

@include breakpoint(large) { 
	.width-80 { max-width: 80%; margin-left: auto; margin-right: auto; }
	.width-50 { max-width: 50%; margin-left: auto; margin-right: auto; }
	.margin-bottom-2x { margin-bottom: 2em; }
	.margin-bottom-4x { margin-bottom: 4em; }
}

/* /Content Tools *//* /Content Tools */

/* ------------------- */
/* OAuth and Captcha - */
/* ------------------- */

$oauth-button-height: 50px !default;
$oauth-icon-size: 28px !default; //este e o de baixo somandos tem que ser igual ao button-height
$oauth-icon-padding: 11px !default;
$oauth-font-size: 14px !default;

//configurações do botão genérico
.abcRioButton { height: $oauth-button-height !important; text-align: center !important;
	* { text-align: center !important; } 
}
.abcRioButtonIcon { padding: $oauth-icon-padding !important; display: inline-block; width: $oauth-button-height !important; height: $oauth-button-height !important; text-align: center; float: left;
	i { font-size: $oauth-icon-size; }
}
.abcRioButtonIconImage { width: $oauth-icon-size !important; height: $oauth-icon-size !important;
	svg { width: $oauth-icon-size !important; height: $oauth-icon-size !important; }
}
.abcRioButtonContents { font-size: $oauth-font-size !important; line-height: $oauth-button-height !important; font-family: $body-font-family !important; margin-left: 6px; margin-right: 6px; vertical-align: top; display: inline-block; letter-spacing: 0.01em !important;
	span { display: none !important; }
}

//configurações do botão do google
.g-signin2 { height: $oauth-button-height;
	> div { width: auto !important; }
	.abcRioButtonContents { 
		&:before { content: 'Logar com Google'; }
	}
}

//configurações do botão do facebook
.facebook-signin { background-color: #3b5998 !important;
	* { color: #fff; }
}

//configurações do reCAPTCHA (centralizar)
.g-recaptcha > div { margin: 0 auto; margin-bottom: 1em; }