@media print {

	.columns, .column { float: none !important; }

	table { border-collapse: collapse; width: 100%;
		tr {
			th, td { border-bottom: 1px solid #666; border-collapse: collapse; font-size: 11px !important; }
		}
		&.border { border: 1px solid #666;
			th, td { border: 1px solid #666; }
		}
		.border-top.thick { border-top: 3px solid #333; }
		.border-right.thick { border-right: 3px solid #333; }
		.border-bottom.thick { border-bottom: 3px solid #333; }
		.border-left.thick { border-left: 3px solid #333; }

		.border-top.none { border-top: 1px solid #fff; }
		.border-right.none { border-right: 1px solid #fff; }
		.border-bottom.none { border-bottom: 1px solid #fff; }
		.border-left.none { border-left: 1px solid #fff; }
	}

	.half-cell { display: inline-block; width: 50%; }

	.page-break	{ page-break-before: always; height: 1cm; }
	.page-break-after { page-break-after: always; }
	.cutter { border-top: 1px dashed #000; height: 0; margin-bottom: 1cm; }
	.no-print { display: none !important; }

	table.fit-print {
		tr {
			th:first-child, td:first-child { padding-left: 0 !important; }
			th:last-child, td:last-child { padding-right: 0 !important; }
		}
	}

	#super-admin-bar,
	.peixe-screenfreezer, 
	.peixe-ajax-loader,
	.processing-time,
	.dbo-queries-number,
	#main-header {
		display: none;
	}

	td.hide-for-small { display: table-cell !important; }

	.text-center-for-printing { text-align: center; }

	body { padding: 1cm !important; }
}