html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q {	quotes: "" ""; }
textarea { resize: none; }
img { -ms-interpolation-mode: bicubic; }
big { font-size: 125%; }
small { font-size: 80%; }
em { font-style: italic }
strong { font-weight: bold; }
.clear { clear: both; }
svg:not(:root) { overflow: hidden; }

/* printing */
@media print {
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	.no-print { display: none; }
}

/* selection */
::-moz-selection { background: #555; color: #fff; text-shadow: none; }
::selection { background: #555; color: #fff; text-shadow: none; }

/* new clearfix */
.clearfix:after,
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix,
* html .cf { zoom: 1; } /* IE6 */
*:first-child+html .clearfix,
*:first-child+html .cf { zoom: 1; } /* IE7 */

/* boxsizing (box model alternative) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(js/boxsizing.htc); }

/* ---------------------- */
/* PeixeLaranja Framework */
/* ---------------------- */

/* CSS3 Tooltips */
.tooltip { position: relative; text-decoration: none; }
.tooltip:after { content: attr(data-tooltip); position: absolute; bottom: 130%; left: 20%; background: #222; color: #FFF; width: 150px; padding: 10px 15px; font-weight: bold; font-size: 12px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: none; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; text-shadow: 0px 1px 0px rgba(1,1,1,.99); }
.tooltip:before { content: ""; position: absolute; width: 0; height: 0; border-top: 20px solid #222; border-left: 20px solid transparent; border-right: 20px solid transparent; -webkit-transition: all 0.4s ease; -moz-transition   : all 0.4s ease; display: none; left: 30%; bottom: 90%; }
.tooltip:hover:after { bottom: 100%; }
.tooltip:hover:before { bottom: 70%; }
.tooltip:hover:after, .tooltip:hover:before { display: block; }

/* Helpers */

.helper { font-size: 11px !important; color: #fff !important; padding: 10px 15px !important; line-height: 15px !important; background: #333; border-radius: 5px; position: relative; display: inline-block; cursor: help; }

.arrow-left:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-left:after {	border-color: rgba(51, 51, 51, 0); border-right-color: #333; border-width: 6px; top: 50%; margin-top: -6px; }

.arrow-bottom:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-bottom:after { border-color: rgba(51, 51, 51, 0); border-top-color: #333; border-width: 6px;	left: 50%; margin-left: -6px; }

.arrow-right:after { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-right:after { border-color: rgba(51, 51, 51, 0); border-left-color: #333; border-width: 6px; top: 50%; margin-top: -6px; }

.arrow-top:after { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-top:after { border-color: rgba(51, 51, 51, 0); border-bottom-color: #333; border-width: 6px; left: 50%; margin-left: -6px; }

/* grid blocks */
.s-box { width: 300px; margin: 0 10px; float: left; } /* single */
.d-box { width: 620px; margin: 0 10px; float: left; } /* double */
.t-box { width: 940px; margin: 0 10px; float: left; } /* triple */

.s-column { width: 320px; float: left; }
.d-column { width: 640px; float: left; }
.t-column { width: 960px; float: left; }

/* some support classes */
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
.left { float: left; }
.right { float: right; }

/* messages */
.wrapper-message { position: fixed; top: 0px; left: 0px; width: 100%; line-height: 59px; overflow: hidden; font-size: 25px; z-index: 10000; height: 0px; opacity: 0.95; }
.wrapper-message .success { background: #333; color: #FFF; font-size: 19px; font-weight: bold; padding: 0 20px; text-shadow: 0px -1px 0px #1A360B; border-bottom: 1px solid #1A360B; }
.wrapper-message .error { background: #CC0000; color: #FFF; font-size: 19px; font-weight: bold; padding: 0 20px; text-shadow: 0px -1px 0px #870000; border-bottom: 1px solid #870000; }

/* ajax helpers */
.peixe-screen-freezer { position: fixed; z-index: 10000; width: 100%; height: 100%; background: transparent; display: none; }
.peixe-ajax-loader { position: fixed; z-index: 10001; background: #333; padding: 5px 10px; color: #FFF; border-radius: 3px; top: 10px; left: 10px; box-shadow: 0px 1px 2px rgba(1,1,1,.2); text-shadow: 0px -1px 0px rgba(1,1,1,.99); display: none; }

/* General CSS */
html { /* overflow-y: scroll; */ font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { color: #333; font: 13px Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: 300; line-height: 1.625; background: #E3E3E3 url(http://www.allpharmajr.com.br/templates/ja_purity_ii/images/bg-ptn.jpg) 0 0 repeat-x; }
a { color: #999; -webkit-transition: all .15s ease; -moz-transition: all .15s ease; transition: all .15s ease; }
a:hover { color: #333; }

/* Your Section Name Here! */

header { height: 100px; }

/* basic typografy settings */
article a { color: #007B9A; text-decoration: none; }
article a:hover { color: #005580; text-decoration: underline; }

article p { margin: 0 0 26px; }
article p small { font-size: 13px; color: #999999; }

article h1, 
article h2, 
article h3, 
article h4, 
article h5, 
article h6 { font-weight: bold; color: inherit; text-rendering: optimizelegibility; margin-bottom: 26px; }
article h1 small, 
article h2 small, 
article h3 small, 
article h4 small, 
article h5 small, 
article h6 small { font-weight: normal; color: #999999; }

article h1 { font-size: 37px; line-height: 44px; letter-spacing: -1px; margin-bottom: 16px; } 
article h2 { font-size: 29px; line-height: 44px; letter-spacing: -1px; color: #A31211; }
article h3 { font-size: 22px; line-height: 33px;}
article h4 { font-size: 17px; line-height: 22px; }
article h5 { font-size: 15px; line-height: 22px; }
article h6 { font-size: 13px; line-height: 22px; color: #999999; text-transform: uppercase; }

article h1 small { font-size: 22px; } 
article h2 small { font-size: 22px; }
article h3 small { font-size: 17px; }
article h4 small { font-size: 15px; }

article ul { padding-left: 40px; margin: 0 0 26px; }
article ul li { list-style: square; }

article ol { padding-left: 40px; margin: 0 0 26px; }
article ol li { list-style: decimal; }

article { width: 800px; margin: 0 auto; padding: 25px 50px; margin-top: 50px; margin-bottom: 50px; background: #fff /*url(http://www.allpharmajr.com.br/templates/ja_purity_ii/images/logo.png)*/ 500px 20px no-repeat; box-shadow: 2px 2px 2px rgba(1,1,1,.2); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }

article table { width: 100%; }
article table
article table td,
article table th { border-collapse: collapse; background: #eee; }
article table td,
article table th { padding: 10px; }
article table th { text-align: left; font-weight: bold; }
article table td { border-bottom: 1px dotted #ccc; }
article table tr.esgotada td { color: #ccc !important; }
article table tr.esgotada td * { color: #ccc !important; }
article table tr.data td { border-bottom: 2px solid #333; border-left: none !important; padding: 20px 0px 0px 5px; font-size: 20px; line-height: 20px; }
article table tr.horario td { border-bottom: 1px solid #ddd; font-size: 11px; line-height: 15px; background: #eee; padding: 5px; }
article table tbody tr td:first-child { border-left: 2px solid #333; }


/* formreset for row-item model */
.row { clear: both; }
.row .item { padding: 0 5px 5px 0; width: 100%; float: left; position: relative; }
.row .item .dica { position: absolute; top: 2px; right: 19px; font-size: 11px; color: #999; text-align: right; line-height: 13px; border: 1px solid #CCC; padding: 4px; background: #FFF; border-bottom: 1px solid #FFF; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; }
.row .item-100 { width: 100%; }
.row .item-80 { width: 80%; }
.row .item-75 { width: 75%; }
.row .item-70 { width: 70%; }
.row .item-66 { width: 66.6%; }
.row .item-60 { width: 60%; }
.row .item-50 { width: 50%; }
.row .item-40 { width: 40%; }
.row .item-33 { width: 33.3%; }
.row .item-30 { width: 30%; }
.row .item-25 { width: 25%; }
.row .item-20 { width: 20%; }
.row .item label { display: block; padding-bottom: 0px; }
.row .item .input input[type=text],
.row .item .input input[type=email],
.row .item .input input[type=password],
.row .item .input select,
.row .item .input textarea { 
	width: 100%; padding: 5px 10px; border: 1px solid #CCC; font-family: Arial, Sans-serif; font-size: 13px; color: #777; background: #FFF; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-border-radius: 4px;
}
.row .item .input input[type=text].error,
.row .item .input input[type=password].error,
.row .item .input select.error,
.row .item .input textarea.error { 
	border: 1px solid red !important;
	background: #FEE !important;
}
.row .item .input input[type=text]:focus,
.row .item .input input[type=password]:focus,
.row .item .input select:focus,
.row .item .input textarea:focus { 
	border: 1px solid #AAA; background: #f3f3f3; 
}
.row .item input.error,
.row .item select.error,
.row .item textarea.error { 
	border: 1px solid red !important; background: #FEE !important; 
}
.row .item input[type=button],
.row .item input[type=submit] { padding: 10px 15px; }

.obrigado { padding: 20px; text-align: center; font: 18px; font-weight: bold; }

.aviso-palestras { padding: 10px; background: #A31211; color: #fff; margin-bottom: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; display: none; }

.descricao { display: block; font-weight: bold; }
.palestrante { font-style: italic; font-size: 11px; color: #999; }
.universidade { font-style: italic; font-size: 11px; color: #999; }
.universidade:before { content: " - "; }